body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #EAE2B7;
}

h1 {
    color: #333;
    text-align: center;
}

h2{
    text-align: center;
}

.campo {
    margin-bottom: 15px;
}

input  {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

label {
    display: block;
    font-weight: bold;
}

.botao{
    display: flex;
    justify-content: center;
}

button {
    background-color: #4d8b31;
    color: white;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #275a0f;
}

pre {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 4px;
    max-width: 600px;
    overflow-x: auto;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Garante que o pre seja tratado como um bloco */
}
