body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black,blue,white);
}

.form-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 32px;
    background-color: #EDF6F9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 16px;
    margin-right: 24PX;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-group,
.radio-group{
    display: flex;
    gap: 10px;
}

.submit-btn{
    width: 100%;
    padding: 10px;
    background-color: #2B59C3;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #1A3575;
}